.home_section{
    overflow-x: none;
    margin-bottom: 100px;
}
.welcome{
    /* height:70vh; */
    margin-bottom: 130px;
}

.welcome svg{
    position: absolute;
    top:0px;
    left: 0;
    bottom: 0;
    /* height: 100vh; */
    z-index: -111;
    fill: #009bca;
    
}
.head{
    margin-top: 20%;
    font-size: 40px;
    font-weight: 800;
    
}
.head h1{
    font-size: 60px;
    font-weight: 900;
    /* font-style: italic; */
    /* font-family: 'Courier New', Courier, monospace; */
}
.sub_head{
    /* line-height: 3.5; */
    font-size:30px;
    font-weight:600;
    margin-bottom: 60px;
}
.post{
    color: rgb(255 20 107);
    font-weight: 700;
    /* text-decoration: underline; */
    letter-spacing: nowrap;
}
.profile_img{
    height: 500px;
    overflow-y: hidden;
    padding:20px;
}
.profile_img img{
    width: 100%;
    height: 100%;
    animation: animate 2s infinite alternate;

}
@keyframes animate{
    0%{
        transform: translateY(10px);    
    }
    100%{
        /* transform: translateY(-10px);     */
    }
}

.conme .btn{
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}
.fa{
    font-size: 27px;
    color: gray;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.fa-linkedin-square:hover{
    color:rgb(27, 139, 209);
}
.fa-github:hover{
    color:black;
}
.fa-facebook-official:hover{
    color:rgb(0, 67, 184);
}
.fa-twitter:hover{
    color: rgb(78, 194, 240);
}

.about{
    background: transparent;
    background-color: rgb(119, 221, 199);
    padding-top:150px;
    padding-bottom:150px;
    clip-path: polygon(100% 85%, 100% 0%,0% 15%, 0% 100%);
}

 .title{
    text-transform: uppercase;
    padding-top: 40px;
    font-size: 24px;
    width: 300px;
    margin: auto;
    font-weight: 600;
    letter-spacing: 5px;
}
.title::after{
    content: '';
    display: block;
    margin: auto;
    transition: width 2s;
    width: 0%;
    background: rgb(124, 9, 9);
    height: 4px;
}
 .title:hover::after {
    width: 100%; 
}

.short_info{
    padding-top: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2.9rem;
}
.short_info a{
    text-decoration: none;
    font-size: 19px;
    margin-top: 20px;
}
.recent_work{
    margin-top: -280px;
    /* margin-bottom: 130px; */
}
.view_all {
    text-transform: uppercase;
    text-align: right;
    justify-content: right;
    padding-bottom: 50px;
}
.view_all a{
    text-decoration: none;
    font-size:25px;
    color: grey;
    letter-spacing: 2px;

}
.recent_work .container .title{
    padding-top: 320px;
}
.recent_work{
    background-color: #e6f3ff;

    /* background-attachment: fixed; */
    background-size: cover;
}

.home_contact{
    /* height: 30vh; */
    background-color: rgb(62, 115, 134);
}